* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  /*background-color: lightcoral;*/
  /*height: 60px;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-buttons: center;*/
}
body {
  background-color: lemonchiffon;
}

.containner {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #7FFFD4;
}

.css-ke5b6m-MuiButtonBase-root-MuiButton-root  {
  /*align-items: center;*/
  background-color: coral;
}
